@import 'reset';
@import 'cart';
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;

    .image{
        margin-right: 20px;
        margin-left: 20px;
        position: relative;
        overflow: hidden;

        .add-cart{
            position: absolute;
            width: 100%;
            background-color: darkgrey;
            transition: all 0.3s ease-in-out;
            opacity: 0;
            cursor: pointer;
            text-align: center;
        }

        &:hover .cart1,&:hover .cart2,&:hover .cart3, &:hover .cart4{
            bottom: 50px;
            opacity: 1;
            padding:10px;
            text-decoration: none;
        }
    }
}

